.search {
  width: 30px;
  position: absolute;
  top: 5px;
  left: 35%;
}

.search a{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-left: 20px;
  font-size: 1.3rem;
  background:  linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important; 
  color: #fff;
  font-family: var(--font-family);
  border-radius: 5px;
  position: absolute;
  left: 90px;
  top: 135px;
  width: 330px;
  padding-top: 5px;
}

.search > h2 {
  display: flex;
  align-items: center;
  /* justify-content:space-between; */
  width: 330px;
  padding-left: 20px;
  font-size: 1.8rem;
  background:  linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%) !important; 
  color:#fff;
  font-family: var(--font-family);
  border-radius: 5px;
  position: absolute;
  left: 90px;
  top: 95px;
}

.search > button:hover {
  background-color: white;
  color: #ff7779;
}
.search .avatar{
 position: absolute;
  top: 50px;
  left: -10px;
}

@media screen and (max-width: 700px) {
  .search{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 40px;
    left: -20%;
   
  }
  .search > h2{
    border-radius: 15px;
    top: 20px;
    left: 180px;
    width: 250px;
    
  }
  .search a{
    border-radius: 15px;
    top: 58px;
    left: 180px;
    width: 250px;
  }
}